# Data Cleaning

## Set up

### Imports

In [4]:
import itertools
import pandas as pd

from scripts.preprocess.parse_json import parse_dir

### Parse Raw Data

In [5]:
def parse_station(element):
    """Parses a JSON bicycle station object to a dictionary"""

    obj = {
        'Id': element['id'],
        'Name': element['commonName'],
        'Latitude': element['lat'],
        'Longitude': element['lon'],
        'PlaceType': element['placeType']
    }

    for p in element['additionalProperties']:
        obj[p['key']] = p['value']

        if 'timestamp' not in obj:
            obj['Timestamp'] = p['modified']
        elif obj['Timestamp'] != p['modified']:
            raise ValueError('The properties\' timestamps for station %s do not match: %s != %s' % (
            obj['id'], obj['Timestamp'], p['modified']))

    return obj

def parse_cycles(json_obj):
    """Parses TfL's BikePoint JSON response"""

    return [parse_station(element) for element in json_obj]

In [6]:
records = parse_dir('/home/jfconavarrete/Documents/Work/Dissertation/spts-uoe/data/dev', parse_cycles)

### Import into Pandas

In [7]:
dataset = pd.DataFrame(list(itertools.chain.from_iterable(records)))

dataset.shape

(520906, 16)

## Technically Correct Data

The data is set to be technically correct if it:

1. can be directly recognized as belonging to a certain variable
2. is stored in a data type that represents the value domain of the real-world variable.

### Convert to Appropriate DataTypes

In [1]:
# convert columns to their appropriate datatypes
dataset['InstallDate'] = pd.to_numeric(dataset['InstallDate'], errors='raise')
dataset['Installed'] = dataset['Installed'].astype('bool_')
dataset['Temporary'] = dataset['Temporary'].astype('bool_')
dataset['Locked'] = dataset['Locked'].astype('bool_')
dataset['NbBikes'] = dataset['NbBikes'].astype('uint16')
dataset['NbDocks'] = dataset['NbDocks'].astype('uint16')
dataset['NbEmptyDocks'] = dataset['NbEmptyDocks'].astype('uint16')

# convert string timestamp to datetime
dataset['Timestamp'] =  pd.to_datetime(dataset['Timestamp'], format='%Y-%m-%dT%H:%M:%S.%f')
dataset['InstallDate'] = pd.to_datetime(dataset['InstallDate'], unit='ms')

NameError: name 'pd' is not defined

### Data Description

In [16]:
dataset.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520906 entries, 0 to 520905
Data columns (total 16 columns):
Id              520906 non-null object
InstallDate     461559 non-null datetime64[ns]
Installed       520906 non-null bool
LastUpdated     1 non-null object
Latitude        520906 non-null float64
Locked          520906 non-null bool
Longitude       520906 non-null float64
Name            520906 non-null object
NbBikes         520906 non-null uint16
NbDocks         520906 non-null uint16
NbEmptyDocks    520906 non-null uint16
PlaceType       520906 non-null object
RemovalDate     520906 non-null object
Temporary       520906 non-null bool
TerminalName    520906 non-null object
Timestamp       520906 non-null datetime64[ns]
dtypes: bool(3), datetime64[ns](2), float64(2), object(6), uint16(3)
memory usage: 296.5 MB

In [14]:
dataset.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>InstallDate</th>
      <th>Installed</th>
      <th>LastUpdated</th>
      <th>Latitude</th>
      <th>Locked</th>
      <th>Longitude</th>
      <th>Name</th>
      <th>NbBikes</th>
      <th>NbDocks</th>
      <th>NbEmptyDocks</th>
      <th>PlaceType</th>
      <th>RemovalDate</th>
      <th>Temporary</th>
      <th>TerminalName</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>BikePoints_1</td>
      <td>2010-07-12 15:08:00</td>
      <td>True</td>
      <td>NaN</td>
      <td>51.529163</td>
      <td>True</td>
      <td>-0.109970</td>
      <td>River Street , Clerkenwell</td>
      <td>0</td>
      <td>19</td>
      <td>18</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>001023</td>
      <td>2016-05-16 08:01:37.947</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BikePoints_2</td>
      <td>2010-07-08 10:43:00</td>
      <td>True</td>
      <td>NaN</td>
      <td>51.499606</td>
      <td>True</td>
      <td>-0.197574</td>
      <td>Phillimore Gardens, Kensington</td>
      <td>19</td>
      <td>37</td>
      <td>18</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>001018</td>
      <td>2016-05-16 08:06:37.670</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BikePoints_3</td>
      <td>2010-07-04 10:46:00</td>
      <td>True</td>
      <td>NaN</td>
      <td>51.521283</td>
      <td>True</td>
      <td>-0.084605</td>
      <td>Christopher Street, Liverpool Street</td>
      <td>31</td>
      <td>32</td>
      <td>1</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>001012</td>
      <td>2016-05-16 08:06:37.670</td>
    </tr>
    <tr>
      <th>3</th>
      <td>BikePoints_4</td>
      <td>2010-07-04 10:58:00</td>
      <td>True</td>
      <td>NaN</td>
      <td>51.530059</td>
      <td>True</td>
      <td>-0.120973</td>
      <td>St. Chad's Street, King's Cross</td>
      <td>0</td>
      <td>23</td>
      <td>23</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>001013</td>
      <td>2016-05-16 07:51:35.910</td>
    </tr>
    <tr>
      <th>4</th>
      <td>BikePoints_5</td>
      <td>2010-07-04 11:04:00</td>
      <td>True</td>
      <td>NaN</td>
      <td>51.493130</td>
      <td>True</td>
      <td>-0.156876</td>
      <td>Sedding Street, Sloane Square</td>
      <td>24</td>
      <td>27</td>
      <td>3</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>003420</td>
      <td>2016-05-16 08:06:37.670</td>
    </tr>
  </tbody>
</table>
</div>

## Consistent Correct Data

### Missing Values

### Outliers

### Errors

### Consistency

## Exploratory Data Analysis

### Visual Representation

### Examine Variable Relationships

### Analyze Variable Over Time

## Conclusions